	<section id="fh5co-about" data-section="about">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.about.title }}{{ . | markdownify }}{{ end }}</h2>
					<!----> <div class="col-md-8 col-md-offset-2 subtext to-animate" style="padding: 50px;">
						<h1>{{ with .Site.Params.about.description }}{{ . | markdownify }}{{ end }}</h1>
					</div> 
			<div class="row">
			{{ range .Site.Params.about.item }}
				<div class="col-md-6">
					<div class="fh5co-person text-center to-animate">
						<figure><img src="images/{{ .img }}" alt="{{ .alt }}"></figure>
						<h3>{{ .name | markdownify }}</h3>
						<span class="fh5co-position">{{ .position | markdownify }}</span>
						<p>{{ .description | markdownify }}</p>
						<!--<ul class="social social-circle">
						{{ range .social }}
							<li><a href="{{ index . 1 }}"><i class="{{ index .  0 }}"></i></a></li>
						{{ end }}
						</ul> -->
					</div>
				</div>
			{{ end }}
			</div>
		
			<div class="row">
						
						<br><br>
						<div class="col-md-4 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.about.donate1title }}{{ . | markdownify }}{{ end }}</h3>
							<p>{{ with .Site.Params.about.donate1 }}{{ . | markdownify }}{{ end }}</p>
							</div>
						<div class="col-md-4   subtext to-animate">
							<h3>{{ with .Site.Params.about.donate2title }}{{ . | markdownify }}{{ end }}</h3>
							<br>
						
						<p><a href="https://www.paypal.me/EmpowerHerIndia" target="_blank" class="btn btn-primary btn-lg">PayPal</a></p> 
						
						<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
						<script>paypal.Buttons().render('body');</script>
					 
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-10 col-md-offset-1 subtext to-animate text-center">
				<p>{{ with .Site.Params.about.info }}{{ . | markdownify }}{{ end }}</p>
				</div>
		</div>
	</section>
